* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 150px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hinh img {
  padding-bottom: 20px;
  cursor: pointer;
}
.content {
  width: 100%;
  height: 100%;
  padding-left: 150px;
}
.content .black {
  width: 11%;
  height: 150px;
  display: block;
  padding-top: 58px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
}
.black li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.black li i {
  font-size: 10px;
}
.black:hover a {
  color: #f55f8d;
  /* position: relative; */
  /* animation-name: animate__fadeInDown; */
  display: inline-block;
  transition: all 0.7s;
  animation: animate__fadeInDown 0.4s;
}

@keyframes animate__fadeInDown {
  49% {
    transform: translateY(120%);
  }
  50% {
    transform: translateY(-120%);
  }
  60% {
    opacity: 1;
  }
}

.header_button {
  padding: 20px 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 54px;
  border-radius: 30px;
  border: none;
  color: white !important;
  cursor: pointer;
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  transition: 0.5s;
}

.header_button:hover {
  background-position: right center;
  color: #f8ae56;
}
/* start lance */

.free_lance {
  width: 100%;
  height: 800px;

  display: flex;
}

.font_lance {
  width: 55%;
  height: 100%;
  padding-top: 80px;
}

.best {
  font-size: 22px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #f55f8d;
}
.product {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 15px;
}
.develop {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  line-height: 1.7rem;
  color: #636363;
}
.check p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.check p a {
  color: #636363;
  padding-left: 10px;
}
.check p i {
  width: 35px;
  height: 35px;
  text-align: center;
  align-items: center;
  font: size 25px;
  margin-top: 20px;
  line-height: 35px;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.free_best button {
  margin: 0 auto;
  margin-top: 40px;
}

.font_img {
  width: 50%;

  margin-top: 35px;
  overflow: hidden;
  background-size: cover;
}

/* start service */
.carousel {
  background-position: top;
  background-size: cover;
  background-image: url(./Samar/bg2.png);
}
.carousel {
  width: 100%;
  height: 900px;
  text-align: center;

  margin-top: 600px;
}

.grid_service {
  width: 84%;
  height: 450px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-left: 100px;
}
.grid_item {
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.grid_item:hover {
  transform: translateY(-20px);
  transition: all 0.5s;
}
.grid_item img {
  margin-top: 40px;
  width: 215px;
  margin-left: 10px;

  object-fit: cover;
}
.grid_item h3 {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}
.grid_item p {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 20px;
}

.font_service p {
  color: #f55f8d;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding-top: 185px;
}
.font_service h2 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  line-height: 150px;
}
/* start About */
.about_1 {
  width: 100%;
  height: 750px;

  display: flex;
  font-family: "Roboto", sans-serif;
  background-image: url(./Samar/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}
.about_img {
  animation-delay: 0.2s;
  visibility: visible;
  animation-duration: 2s;
}
.about_img img {
  width: 90%;
  height: 500px;
  margin-top: 100px;
  border-radius: 0px 100px 100px 0px;
  overflow: hidden;
  object-fit: cover;
}
.about_font {
  width: 65%;

  padding-left: 20px;
  animation-delay: 0.2s;
  visibility: visible;
  animation-duration: 2s;
}
.about_font .about_font1 {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
}
.about_font h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-top: 25px;
}
.about_font p {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.about_font2 {
  margin-top: 25px;
}
.about_font3 {
  margin-top: 25px;
}
.about_font3 i {
  border: 2px solid #f55f8d;
  font-size: 17px;
  color: #f55f8d;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  align-items: center;
  padding-top: 2px;
}
.about_font3 a {
  padding-left: 15px;
}
.about_font3 p {
  line-height: 40px;
}

.about_font button {
  padding: 20px 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 25px;
  border-radius: 30px;
  border: none;
  color: white !important;
  cursor: pointer;
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  transition: 0.5s;
}
.about_font button:hover {
  background-position: right center;
  color: #f8ae56;
}
/* end about */
/* start number */
.number {
  width: 100%;
  height: 300px;
  background-image: url(./Samar/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0 50px;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 85%;
  height: 200px;

  margin: 0 auto;
}
.number_content {
  display: flex;
  width: 100%;
}
.number_item {
  width: 25%;
  height: 200px;

  text-align: center;
  padding-top: 20px;
}
.number_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number_item p {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number_item a {
  color: #262626;
  font-size: 19px;
}
/* end number */

/* start behind */
.feature {
  background-image: url(./Samar/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}
.container1 {
  width: 100%;
  height: 800px;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
}
.feature_content {
  width: 100%;
  display: flex;
}
.feature_left {
  width: 45%;
  margin-left: 115px;
}
.feature_left .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.feature_left .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.feature_item {
  width: 88%;
  height: 150px;
  background-color: #fff;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.feature_bg {
  width: 520px;
  height: 150px;
  display: flex;
  padding-top: 25px;
  padding-left: 25px;
}

.feature_bg i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.feature_bg h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
  margin-left: 22px;
}
.feature_bg p {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin-left: 22px;
  margin-top: 10px;
}

.feature_bg:hover h3 {
  transition: 0.5s;
  color: #fff;
}
.feature_bg:hover p {
  color: #fff;
  transition: 0.5s;
}
.feature_bg:hover i {
  color: #fff;
  transition: 0.5s;
}
.feature_right {
  width: 55%;
  display: flex;
}
.feature_banner img {
  max-width: 100%;
  padding-right: 50px;
  animation: animate2 5s infinite;
}
@keyframes animate2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
.next_left {
  width: 104%;
  margin-left: 50px;
}

.feature_item:hover {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;

  top: 0;
  left: 0;
}
/* start por */
.poster_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.poster_item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.poster_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.poster_item:hover::before {
  left: 125%;
}

.poster_title p {
  color: #f55f8d;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.poster_title h2 {
  text-align: center;
  font-size: 70px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.poster_item img {
  width: 100%;
  height: 100%;
}

.item1 {
  grid-column: 1 / span 2;
}

.item3 {
  grid-column: 1/3;
}

.item4 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}

.overlay_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.poster_item:hover .overlay {
  opacity: 1;
}

.poster_item:hover .overlay_icon {
  transform: translate(0);
}

.overlay_icon a {
  padding: 13px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.overlay_title {
  position: absolute;
  bottom: 0px;
  left: 30px;
  transform: translateY(50px);
  transition: 0.75s;
}

.poster_item:hover .overlay_title {
  transform: translateY(0px);
}

.overlay_title h5 {
  font-size: 25px;
  color: white;
}

.overlay_title p {
  color: rgb(211, 199, 199);
  margin-top: -10px;
}
/* start pla */
.plan {
  background-image: url(./Samar/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 1000px;
}

.plan_content {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  align-items: center;
  gap: 30px;
}

.plan_title {
  margin: 50px;
}
.plan_title p {
  color: #f55f8d;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.plan_title h2 {
  font-size: 70px;
  font-weight: 600;
  margin-top: 20px;
}
.plan_item li {
  list-style: none;
  text-align: left;
  padding-left: 70px;
}

.plan_item {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.75s;
  padding-bottom: 30px;
}

.plan_item:hover {
  border-image: url(./Samar/br.png) 1 round;
}

.plan_item img {
  width: 150px;
  height: 150px;
}
.plan_item h3 {
  font-size: 2em;
  padding-top: 30px;
}

.plan_item p {
  font-weight: bold;
}

.plan_item span {
  color: #f8ae56;
  font-size: 48px;
}

hr {
  color: gray;
  width: 60%;
  margin: 20px auto;
}

.plan_item button {
  margin-top: 20px;
  padding: 20px 40px;
  text-transform: uppercase;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #fff !important;
  transition: 0.75s;
}
.plan_item:hover button {
  background-position: right center;
  color: #f8ae56;
}

.plan_item i {
  font-size: 12px;
  padding: 7px;
  line-height: 13px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin: 3px 10px;
}
/* start testimonial
 */
.testimonial-pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;

  transition: all 1s;
  background-color: #f55f8d;
}
.testimonial-pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(./Samar/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 800px 0 0 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.blog_content {
  display: flex;
  width: 100%;
}

.blog .title {
  background-color: white;
}
.OUTBLOG {
  color: #f55f8d;
  font-size: 25px;
}
.newsBlog {
  font-size: 50px;
}

.blog .title {
  font-weight: bold;
  text-align: center;
}

.blog_item {
  width: 33%;
  margin: 0px 15px;
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog_header img {
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.blog_header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  margin: -30px 15px;
}

.blog_footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog_footer p:first-of-type {
  margin-right: 20px;
}

.blog_footer p {
  margin: 0px 0px;
}

.blog_footer i {
  color: #f55f8d;
}

span.pink {
  color: #f55f8d;
}

/* End Blog */

/* Footer start*/
footer {
  padding-bottom: 200px;
  background-image: url(./Samar/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(./Samar/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

  left: 0;
  width: 100%;
  height: 100%;
}

.footer__top {
  display: flex;
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(./Samar/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  /* position: relative; */
}

.footer__text {
  width: 50%;
}

.footer__form {
  width: 50%;
}

.footer__form form {
  display: flex;
  margin-top: 50px;
}

.footer__form form input {
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 32px 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.footer__form button {
  height: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0px;
}

.footer__form i {
  animation: animation4;
  transform: translateX(0%);
}

@keyframes animation4 {
  49% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-100%);
  }

  51% {
    opacity: 1;
  }
}

.footer_form button:hover i {
  animation: animation4;
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
  text-align: left;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer__item li {
  list-style: none;
  display: flex;
  margin: 15px auto;
  color: white;
}

.footer__item i {
  font-weight: 700px;
  margin-right: 10px;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin: 0px auto;
  position: relative;
  color: #fff;
}

/* footer end */
